<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="

           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />
	<task:annotation-driven />
	<context:component-scan base-package="com.neu.iot.controller" />
	<context:component-scan base-package="com.neu.iot.commonUtils" />
	<context:component-scan base-package="com.neu.iot.dao" />
	<context:component-scan base-package="com.neu.iot.model" />
	<context:component-scan base-package="com.neu.iot.rules" />
	<context:component-scan base-package="com.neu.iot.test" />

</beans>